@import url('http://fonts.googleapis.com/css?family=Montserrat:400,800');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
    height: 100vh;
    margin: 0 auto;
}
.container{
background-color: #fff;
border-radius: 10px;
width:768px;
max-width: 100%;
min-height: 480px;
position:relative;

}
